$text: blue;

@import '_botones.scss';
@import 'variables';
@import 'mixins';

.saludo{
	color: $text;
}

.box{
	@include box($box-radius, $box-bg, 20px);

	.head{
		border-bottom: 1px solid #9bc1bc;
		padding-bottom: 10px;

		h2{
			margin: 0;
			color: #5ca4a9;
		}
	}

	.cont{
		padding-top: 10px;
	}
}

.box-grey{
	@include box(8px, #000, 30px);
}

.selector{

	padding: 20px;
	@include mq-tablet{
		padding: 10px;
	}
}

@include mq-tablet{
	.selector{
		padding: 20px;
	}
}

