$text: blue;

@import '_botones.scss';
@import 'variables';
@import 'mixins';

.saludo{
	color: $text;
}

.box{
	@include box;

	.head{
		border-bottom: 1px solid #9bc1bc;
		padding-bottom: 10px;

		h2{
			margin: 0;
			color: #5ca4a9;
		}
	}

	.cont{
		padding-top: 10px;
	}


}